@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap')
* {
font-family: "Luckiest Guy";
}
body {
    background: linear-gradient(180deg, #00b4ff, #94e0ff);
    background-size: 1000% 1000%;
    postion: relative;

    -webkit-animation: CORE 30s ease infinite;
    -moz-animation: CORE 30s ease infinite;
    animation: CORE 30s ease infinite;
}

@-webkit-keyframes CORE {
    0%{background-position:35% 0%}
    50%{background-position:35% 35%}
    100%{background-position:35% 0%}
}
@-moz-keyframes CORE {
    0%{background-position:36% 0%}
    50%{background-position:35% 35%}
    100%{background-position:36% 0%}
}
@keyframes CORE {
    0%{background-position:36% 0%}
    50%{background-position:35% 35%}
    100%{background-position:36% 0%}
}
button {
  color: #C25283;
  background-color: #D3D0D1;
  border: solid #D3D0D1 4px;
  margin-bottom: 15px;
}
button a {
  color: #B7416A;
  text-decoration: none; 
}
h1 {
  background: -webkit-linear-gradient(#ceccea, #D3A79F, #D88E45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  background: -webkit-linear-gradient(#ceccea, #D3A79F, #D88E45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
hr {
  border: solid #0490cc 2px;
}
a:link, a:visited {
  color: #B7416A;
  text-decoration: none;
}

a:link:active, a:visited:active {
  color: #B7416A;
  text-decoration: none;
}
